<div class="header-top">
    <img src="assets/images/logo.jpg" alt="Logo" class="logo">
    <div class="company-name">DAW</div>
    <img src="assets/images/avatar.jpg" alt="Avatar" class="avatar">
  </div>
  <div class="header-bottom">
    <nav class="menu">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      <a routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
      <a routerLink="/noticias" routerLinkActive="active">Noticias</a>
    </nav>
  </div>
  